<footer class="bg-light">
    <div class="cop"><a href="https://www.ifnmg.edu.br/almenara" target="_blank">&copy; Instituto Federal do Norte de Minas Gerais </a></div>
    <div class="">CNPJ: nยบ 99.999.999/0001-99</div>
</footer>


<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
<script type="text/javascript">$("#phone").mask("(00) 00000-0009");</script>
</body>

</html>