<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Web/Redes</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Início</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link active" aria-current="page" href="/whatisit">O que é Wi-Fi 6?</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link active" aria-current="page" href="/howitworks">Como Funciona</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link active" aria-current="page" href="/benefits">Vantagens</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link active" aria-current="page" href="/whatis6e">O que é Wi-Fi 6E?</a>
        </li>
      </ul>
    </div>
  </div>
</nav>