

<%- include("partials/header.ejs") %>
    <%- include("partials/navbar.ejs") %>
        <div class="container">
            <h2 class="m-3">Vantagens de usar o Wifi 6</h2>
            <div class="card main">
                <div class="card-header">
                    <h4>Destaques</h4>
                    <div>
                        <p>
                            O Wi-Fi 6, também conhecido como 802.11ax, está mudando nossa forma de se conectar e consumir informações. O padrão Wi-Fi 6 se baseia nos pontos fortes dos padrões de Wi-Fi anteriores, com melhora da eficiência, da flexibilidade e da escalabilidade. Essas melhorias conferem às redes novas e atuais maior velocidade e capacidade para comportar aplicações de próxima geração.
                        </p>
                        
                        <p>
                            O Wi-Fi 6 reúne a liberdade e a alta velocidade oferecidas pela tecnologia sem fio Gigabit Ethernet e a confiabilidade e a previsibilidade do rádio licenciado.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <%- include("partials/footer.ejs") %>