

<%- include("partials/header.ejs") %>
    <%- include("partials/navbar.ejs") %>
        <div class="container">
           <div class="card-details">
            <h2 class="m-3" style="text-align: center;">Vantagens de usar o Wifi 6</h2>
            <div class="card main">
                <div class="card-header">
                    <!-- <h4>Destaques</h4> -->
                    <div>
                        <p >
                            <b>MAIOR VELOCIDADE:</b> Máxima de até 9,6 Gb/s
                            <b>MENOR INTERFERÊNCIA:</b> Com a assinatura (<b>BSS Coloring</b>) o roteador indentifica e marca os quadros das redes vizinhas e os ignora para aumentar a eficiência e diminuir interferência de sinais.
                            <img style="width: 70vw;" src="foto_bss.PNG" alt="Foto BSS Coloring">
                        </p>
                        <p>
                            <b>MAIOR NÚMERO DE DISPOSITIVOS CONECTADOS:</b> Pela sua capacidade de gerenciamento e diminuição de interferência o número de dispositivos conectados pode aumentar sem maiores problemas.
                        </p>
                        <p>
                            <b>ECONOMIA DE ENERGIA:</b> Com a (<b>Target Wake Time</b>) os dispositivos podem comunicar entre si para decidir quando estarão "acordados" para enviar ou receber dados, aumentando a eficiência e diminuindo e melhorando o uso de bateria de dispositivos IoT por exemplo.
                        </p>
                        <p>
                            <b>Modo de operação de manuseio de IoT:</b> para dispositivos de baixa potência e baixa largura de banda, como sensores, dispositivos de automação e dispositivos médicos.
                            
                        </p>
                        
                        <p>
                            <b>O WPA3 e o Enhance Open reforçam a privacidade do usuário</b> em redes abertas, simplificam a configuração da segurança de dispositivos IoT sem interface e adicionam níveis mais altos de segurança para atender aos requisitos governamentais, industriais e de defesa.
                        </p>
                    </div>
                </div>
            </div>
           </div>
        </div>
        <%- include("partials/footer.ejs") %>