

<%- include("partials/header.ejs") %>
    <%- include("partials/navbar.ejs") %>
        <div class="container">
          <div class="card-details">
            <h2 class="m-3" style="text-align: center;">Como ele funciona?</h2>
            <div class="card main">
                <div class="card-header">
                    <div>
                        <p style="text-align: justify;">
                            Um dos principais objetivos do Wi-Fi 6 é possibilitar que mais usuários utilizem a mesma rede sem interferir na qualidade da conexão. Para isso acontecer, um dos recursos deste novo padrão é o OFDMA (Orthogonal Frequency Division Multiple Access) e o MU-MIMO (Multiple Users Multiple Input/ Multiple Output). O MIMO, que já estava presente no Wi-fi 5, foi aprimorado nesta última versão, e permite que os pontos de acesso se conectem a mais clientes ao mesmo tempo, diferentemente do Wi-fi 5, que permite apenas um cliente por canal.                         </p>                 
                        <p>
                            O OFDMA em pequenos intervalos de tempo consegue analisar o uso de banda dos dispositivos e atribuir uma maior ou menor banda conforme a necessidade, um exemplo caso um dispositivo estiver utilizando uma aplicação que demande mais banda como filmes e downloads o OFDMA gerencia e distribui uma maior quantidade em relação a um dispositivo que esteja navegando na web ou em uma rede social.
                        </p>
                        <p>
                            OFDMA é uma versão multiusuário da tecnologia de modulação digital OFDM. Em Wi-Fi 6 (802.11ax), OFDMA é um dos recursos críticos para melhorar o desempenho da rede.

OFDM e OFDMA dividem os dados transmitidos em vários pequenos pacotes, para mover pequenos bits de informação de uma forma simples. Além disso, OFDMA subdivide um canal em alocações de frequência menores chamadas subportadoras. Ao subdividir o canal, pequenos pacotes podem ser transmitidos em paralelo para vários dispositivos simultaneamente. Os pacotes recebidos continuam a transmitir e não precisam esperar por outros pacotes. No downlink OFDMA, o roteador pode usar diferentes grupos de sub-portadoras para enviar pacotes para diferentes clientes e a latência pode ser gerenciada. Este método flexível e descentralizado de comunicação aumenta a velocidade e a eficiência da rede.
                        </p>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <%- include("partials/footer.ejs") %>