

<%- include("partials/header.ejs") %>
    <%- include("partials/navbar.ejs") %>
        <div class="container">
            <h2 class="m-3">Como ele funciona?</h2>
            <div class="card main">
                <div class="card-header">
                    <h4>Destaques</h4>
                    <div>
                        <p>
                            Com o intuito de diminuir o congestionamento de rede e fornecer maior capacidade o Wi-Fi 6 utiliza recursos como o OFDMA (Orthogonal Frequency Division Multiple Access), para subdividir canais com até 30 dispositivos melhorando a eficácia da conexão e diminuindo latências.
                        </p>
                        
                        <p>
                            O OFDMA em pequenos intervalos de tempo consegue analisar o uso de banda dos dispositivos e atribuir uma maior ou menor banda conforme a necessidade, um exemplo caso um dispositivo estiver utilizando uma aplicação que demande mais banda como filmes e downloads o OFDMA gerencia e distribui uma maior quantidade em relação a um dispositivo que esteja navegando na web ou em uma rede social.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <%- include("partials/footer.ejs") %>