

<%- include("partials/header.ejs") %>
    <%- include("partials/navbar.ejs") %>
        <div class="container">
            <div class="card-details">
                <div class="card main">
                    <div class="card-header">
                        <div>
                        <h2 class="m-3" style="text-align: center;">Wi-Fi 5 vs Wi-Fi 6</h2>
                        <hr>
                        <div class="center"><h2 class="full-span"></h2><div class="table-wrapper"><table class="table table-striped table-responsive"><thead class="thead-dark"><tr><th>&nbsp;</th><th>Wi-Fi 5 (802.11n/ac)</th><th>Wi-Fi 6 (802.11ax)</th></tr></thead><tbody><tr><td><strong>Canais disponíveis</strong></td><td>20/40/80/160 MHz<sup>1</sup></td><td>20/40/80/160 MHz<sup>1</sup></td></tr><tr><td><strong>Bandas usadas</strong></td><td>2,4 e 5 GHz</td><td>2,4 e 5 GHz</td></tr><tr><td><strong>Número máximo de Fluxos espaciais (SS) </strong>para aumentar as taxas de dados de pico</td><td>4×4</td><td>8×8</td></tr><tr><td><strong>Ordem mais alta de modulação </strong>para aumentar bits/símbolo e diminuir a margem de erro</td><td>256-QAM</td><td>1024-QAM</td></tr><tr><td><strong>MIMO multiusuário </strong>para aumentar a eficiência ao fornecer uploads de usuários simultâneos</td><td>somente downlink</td><td>uplink e downlink</td></tr><tr><td><strong>OFDMA </strong>para aumentar a eficiência combinando pacotes pequenos</td><td>Não</td><td>Sim</td></tr><tr><td><strong>Target Wake Time de IoT </strong>para conservar a vida útil da bateria</td><td>Não</td><td>Sim</td></tr><tr><td><strong>Cor de BSS </strong>para aumentar a capacidade e reutilização do canal</td><td>Não</td><td>Sim</td></tr><tr><td><strong>Abertura aprimorada </strong>para fornecer criptografia em redes abertas e não protegidas por senha</td><td>Não</td><td>Sim</td></tr><tr><td><strong>WPA3 </strong>para uma autenticação mais robusta</td><td>Não</td><td>Sim</td></tr></tbody></table><p class="small-print"><sup>1</sup>&nbsp;Embora os canais de 80/160 MHz sejam compatíveis, eles normalmente não são usados devido à alta utilização do canal. O Wi-Fi 6E e o canal de 6 GHz resolvem isso fornecendo até sete canais adicionais de 80/160 MHz.</p></div></div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <%- include("partials/footer.ejs") %>