

<%- include("partials/header.ejs") %>
    <%- include("partials/navbar.ejs") %>
        <div class="container">
            <div class="card-details">
                <h2 class="m-3" style="text-align: center;">O que é o Wifi 6E</h2>
            <div class="card main">
                <div class="card-header">
                    <h4>Destaques</h4>
                    <div>
                        <p>
                            O <b>Wi-Fi 6E</b> é uma evolução da nova tecnologia Wi-Fi 6 que conta com algumas melhorias ao seu antecessor, sendo a sua principal diferença <b>a maior oferta de canais e 3 tipos de bandas</b> sendo elas, 2.4, 5 e 6GHz, a maior oferta de canais se deve ao fato que o Wi-Fi 6E traz consigo <b>4 novos canais</b> de 80 MHz e 7 de 160 MHz.
                        </p>
                        
                        <p>
                            Um ponto importante a se considerar ao escolher entre o Wi-Fi 6 e o Wi-Fi 6E é que, <b>os dispositivos Wi-Fi 6 não poderão</b> aproveitar os benefícios do espectro de 6 GHz usado pelo Wi-Fi 6E.
                        </p>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <%- include("partials/footer.ejs") %>