

<%- include("partials/header.ejs") %>
    <%- include("partials/navbar.ejs") %>
        <div class="container">
           <div class="card-details">
            <h2 class="m-3" style="text-align: center;">O que é o Wifi 6</h2>
            <div class="card main">
                <div class="card-header">
                    <!-- <h4>Destaques</h4> -->
                    <div>
                        <p>
                            O Wi-Fi 6, também conhecido como 802.11ax, está mudando nossa forma de se conectar e consumir informações. O padrão Wi-Fi 6 se baseia nos pontos fortes dos padrões de Wi-Fi anteriores, com melhora da eficiência, da flexibilidade e da escalabilidade. Essas melhorias conferem às redes novas e atuais maior velocidade e capacidade para comportar aplicações de próxima geração.
                        </p>
                        
                        <p>
                            O Wi-Fi 6 reúne a liberdade e a alta velocidade oferecidas pela tecnologia sem fio Gigabit Ethernet e a confiabilidade e a previsibilidade do rádio licenciado.
                        </p>
                        <p>O Wi-fi 6 é a mais nova atualização da tecnologia Wi-fi e veio para substituir o Wi-fi 5 (padrão IEEE 802.11ac). A nova versão tem como finalidade atender às necessidades das aplicações mais recentes e proporcionar mais suporte às empresas. Isso porque ele vai permitir um número maior de clientes nos pontos de acesso, porém sem perder a qualidade de desempenho da rede sem fio e das aplicações mais robustas, como os vídeos em 4k ou 8k.</p>
                    </div>
                </div>
            </div>
           </div>
        </div>
        <%- include("partials/footer.ejs") %>