html, body {
    height: 100%;
}
body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background: #61242498;

}
.container{
    flex: 1;
}
.tops{
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
}
.card{
    margin: 0.1em;
    border-style: none;
}
.card .cards{
    box-shadow: 0 0 1em rgb(199, 198, 195);
    width: 15rem;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 1.5rem;
    padding-top: 1rem;
}
footer .cop{
    display: flex;
    flex-direction: column-reverse;
}
h1{
    text-align: justify;
}
a{
    text-decoration: none;
    color: #000;
}
a :hover{
    color: #000;
}
.zap :hover{
    color: #57F676;
}
.card-img-top{
    height: 9rem;
}